{{ template "chart.header" . }}
{{ template "chart.description" . }}

{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}

{{ template "installing" . }}

{{ template "chart.valuesTable" . }}

{{ template "helm-docs.versionFooter" . }}
