{{ template "chart.header" . }}
{{ template "chart.description" . }}

{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}

{{ template "installing" . }}

### Multisite
Enable multisite:
```yaml
grav:
  config:
    GRAV_MULTISITE: subdirectory
```

You can also specify `subdomain`.

{{ template "chart.valuesTable" . }}

{{ template "helm-docs.versionFooter" . }}
